@charset "UTF-8";
/*

Front - Developer

--------

Developer : Selim Doyranlı

Developer Website : selimdoyranli.com

Github : @selimdoyranli
___________


TEAM : RadKod ✪

TEAM WEBSITE : www.RadKod.com

*/
@import url("ionicons/css/ionicons.min.css");
@import url("material-design-iconic-font/css/material-design-iconic-font.min.css");
@import url("font_awesome/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext");
::-moz-selection {
  background: #444;
  color: #fff;
}

::selection {
  background: #444;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none !important;
  outline: none !important;
}

input,
button,
input:focus,
button:focus,
input:active,
button:active {
  outline: none !important;
}

[disabled] {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* extra */
.center-v {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.center-h {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.object-fit-contain {
  -o-object-fit: contain !important;
  object-fit: contain !important;
}

.object-fit-cover {
  -o-object-fit: cover !important;
  object-fit: cover !important;
}

.disabled {
  pointer-events: none !important;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  opacity: 0.7;
}

.swiper-lazy {
  background-image: url(../img/core/loader.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center center;
}

.swiper-lazy-loaded {
  background: none !important;
}

.lazy-hidden {
  background-color: #eee;
  background-image: url(../img/core/loader.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center center;
}

.display-none {
  display: none !important;
}

.text-20-size {
  font-size: 20px !important;
}

.text-18-size {
  font-size: 18px !important;
}

.text-16-size {
  font-size: 16px !important;
}

.text-14-size {
  font-size: 14px !important;
}

.text-12-size {
  font-size: 12px !important;
}

.text-10-size {
  font-size: 10px !important;
}

.margin-no {
  margin: 0 !important;
}

.margin-no-h {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.margin-no-v {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.margin-10-v {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-20-v {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-25-v {
  margin-top: 25px;
  margin-bottom: 25px;
}

.margin-50-v {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-r-10 {
  margin-right: 10px;
}

.padding-no {
  padding: 0 !important;
}

.padding-no-h {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.padding-no-v {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.padding-no-right {
  padding-right: 0px !important;
}

.padding-no-left {
  padding-left: 0px !important;
}

.padding-10-v {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-20-v {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-25-v {
  padding-top: 25px;
  padding-bottom: 25px;
}

.padding-50-v {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-5-h {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.padding-10-h {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-20-h {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.padding-25-h {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.padding-50-h {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.vw-50 {
  width: 50vw;
}

.bg-cover {
  background-size: cover !important;
}

.bg-contain {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.bg-center {
  background-position: center center !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.display-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.of-fill {
  -o-object-fit: fill;
  object-fit: fill;
  font-family: 'object-fit: fill';
}

.of-contain {
  -o-object-fit: contain;
  object-fit: contain;
  font-family: 'object-fit: contain';
}

.of-cover {
  -o-object-fit: cover;
  object-fit: cover;
  font-family: 'object-fit: cover';
}

.of-cover-op {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center 80%;
  object-position: center 80%;
  font-family: 'object-fit: cover; object-position: center 80%';
}

.of-none {
  -o-object-fit: none;
  object-fit: none;
  font-family: 'object-fit: none';
}

.of-scaleDown {
  -o-object-fit: scale-down;
  object-fit: scale-down;
  font-family: 'object-fit: scale-down';
}

.object-position {
  max-height: 33vw;
}

@media (max-width: 700px) {
  .xs--of-cover {
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover';
  }
  .caption-cover {
    border-left: 5px solid green;
    padding-left: 5px;
  }
}

@media not all and (max-width: 700px) {
  .caption-contain {
    border-left: 5px solid green;
    padding-left: 5px;
  }
}

/* header */
/* footer */
.cover {
  background: #012353;
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1em;
  color: #fff;
}

/* home page */
.home {
  background: #fff;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
