link(rel='stylesheet', href='assets/css/bootstrap-reboot.min.css')
link(rel='stylesheet', href='assets/css/bootstrap.min.css')
link(rel='stylesheet', href='assets/css/style.css')
link(rel='stylesheet', href='assets/css/swiper.min.css')
link(rel='stylesheet', href='assets/css/animate.css')
script(src='assets/js/jquery.min.js')
script(src='assets/js/popper.min.js')
script(src='assets/js/bootstrap.min.js')
script(src='assets/js/jquery.lazyloadxt.min.js')
script(src='assets/js/wow.js')
script(src='assets/js/swiper.min.js')
script(src='assets/js/jquery.sticky.js')
script(src='assets/js/trunk8.js')
script(src="assets/js/ofi.min.js")
script(src='assets/js/fastclick.js')
script(src='assets/js/custom.js')
