// CSS Vendors
link(rel='stylesheet', href='css/vendor/bootstrap-reboot.min.css')
link(rel='stylesheet', href='css/vendor/bootstrap.min.css')
link(rel='stylesheet', href='css/vendor/swiper.min.css')
link(rel='stylesheet', href='css/vendor/animate.css')
// CSS App
link(rel='stylesheet', href='css/app.css')
// JS Vendors
script(src='js/vendor/jquery.min.js')
script(src='js/vendor/popper.min.js')
script(src='js/vendor/bootstrap.min.js')
script(src='js/vendor/jquery.lazyloadxt.min.js')
script(src='js/vendor/jquery.lazyloadxt.bg.min.js')
script(src='js/vendor/wow.js')
script(src='js/vendor/swiper.min.js')
script(src='js/vendor/jquery.sticky.js')
script(src='js/vendor/trunk8.js')
script(src="js/vendor/ofi.min.js")
script(src='js/vendor/fastclick.js')
// JS App
script(src='js/app.js')