link(rel='stylesheet', href='assets/css/vendor/bootstrap-reboot.min.css')
link(rel='stylesheet', href='assets/css/vendor/bootstrap.min.css')
link(rel='stylesheet', href='assets/css/vendor/swiper.min.css')
link(rel='stylesheet', href='assets/css/vendor/animate.css')
link(rel='stylesheet', href='assets/css/style.css')
script(src='assets/js/vendor/jquery.min.js')
script(src='assets/js/vendor/popper.min.js')
script(src='assets/js/vendor/bootstrap.min.js')
script(src='assets/js/vendor/jquery.lazyloadxt.min.js')
script(src='assets/js/vendor/jquery.lazyloadxt.bg.min.js')
script(src='assets/js/vendor/wow.js')
script(src='assets/js/vendor/swiper.min.js')
script(src='assets/js/vendor/jquery.sticky.js')
script(src='assets/js/vendor/trunk8.js')
script(src="assets/js/vendor/ofi.min.js")
script(src='assets/js/vendor/fastclick.js')
script(src='assets/js/app.js')