doctype html
html(lang='tr-TR')
  head
    //if lt IE 9
      <script src='assets/js/html5shiv.min.js'></script>
      <script src='assets/js/respond.min.js'></script>
    link(rel='shortcut icon', href='assets/img/core/favicon.ico')
    meta(charset='UTF-8')
    title RKfrontstarterkit
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='HandheldFriendly', content='true')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(property='og:title', content='')
    meta(property='og:url', content='')
    meta(property='og:image', content='')
  body
    // header
    include layouts/header.pug
    // cover
    include partials/cover.pug
    // footer
    include layouts/footer.pug
    // import - assets
    include utilities/assets-importer.pug
